.sidenav {
  background: #181818;
  min-height: 100%;
  width: 160px;
  position: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.sidePhoto {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-top: 15px;
}

.sidePhoto-font {
  width: 75px;
  padding-bottom: 10px;
}

.sidenav .box1 ul li a {
  border-bottom: 1.5px solid #232323;
  font-size: 17px;
}

.sidenav .box1 ul li a {
  padding: 15px;
  color: #888888;
  display: block;
  transition: 0.3s ease-in-out;
}

.box1 ul li a:hover {
  color: #0cf2cf;
  transition: 0.3s ease-in-out;
}

.box2 ul li {
  display: inline-flex;
  padding: 2rem 7px;
}

.box2 ul li a {
  color: #888888;
  transition: 0.3s ease-in-out;
}

.box2 ul li a:hover {
  color: #0cf2cf;
  transition: 0.3s ease-in-out;
}
@media screen and (max-width: 825px) {
  .sidenav {
    position: relative;
    float: right;
    width: 3rem;
    height: 3rem;
    min-height: 5vh;
    top: 0;
    right: 0;
  }

  .sidenav .box ul li {
    display: none;
  }

  .sidenav .box ul li.hamburgerMenu {
    top: 0;
    right: 0;
    display: flex;
    padding-right: 2%;
    padding-top: 2%;
  }

  .sidenav.responsive {
    width: 100%;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    height: auto;
  }

  .sidenav.responsive .box ul li.hamburgerMenu {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0% 1% 1% 1%;
  }

  .sidenav.responsive .box1 {
    line-height: 250%;
  }

  .sidenav.responsive .box ul {
    position: relative;
    float: inherit;
  }

  .sidenav.responsive .box ul li {
    display: inline;
    float: inside;
  }

  .sidenav.responsive .box li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .sidenav.responsive .box2 .fancyfonts {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 552px) {
  h2 {
    font-size: 75px;
  }
}
