@font-face {
  font-family: "coolvetica";
  src: url("fonts/coolvetica-rg.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  list-style: none;
  text-decoration: none;
}

body {
  background: #1d1d1d;
  letter-spacing: 0.5px;
  font-family: "open Sans", sans-serif;
  text-size-adjust: 100%;
}

.HomePage {
  display: flex;
}

.sidenav {
  background: #181818;
  min-height: 100vh;
  width: 160px;
  position: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.Dimg {
  width: 60px;
  padding-top: 15px;
  height: 75px;
}

.Dimg-font {
  width: 75px;
  padding-bottom: 10px;
}

.sidenav .box1 ul li a {
  border-bottom: 1.5px solid #232323;
  font-size: 17px;
}

.sidenav .box1 ul li a {
  padding: 15px;
  color: #888888;
  display: block;
}

.box1 ul li a:hover {
  color: #0cf2cf;
  transition: 0.4s ease-in-out;
}

.box2 ul li {
  display: inline-flex;
  padding: 2rem 7px;
}

.box2 ul li a {
  color: #888888;
}

.box2 ul li a:hover {
  color: #0cf2cf;
  transition: 0.3s ease-in-out;
}

.professionalPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100%;
}

.resume-button {
  border: 1px solid #08fdd8;
  background-color: transparent;
  color: #08fdd8;
  box-sizing: border-box;
  z-index: 1;
  font-size: 16px;
  padding: 8px 20px 8px 20px;
  position: absolute;
  right: 1rem;
  top: 1rem;
  transition: color 0.1s;
}

.resume-button:before {
  content: "";
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #08fdd82b;
  transform: scaleX(0);
  transform-origin: 0;
  transition: transform 0.3s ease-out;
}

.resume-button:hover:before {
  transform: scaleX(1);
}
.TextArea h1 {
  color: #08fdd8;
  font-family: coolvetica, serif;
  letter-spacing: 3px;
  font-weight: 550;
  font-size: 103px;
  line-height: 1em;
  position: relative;
  margin-right: -4px;
}

/* --------------Professional-------------- */

.professionalPage {
  min-height: 100vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: 160px;
}

.professional {
  display: flex;
  align-items: center;
  padding: 50px 0 0 3%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.industry_experience {
  min-height: 100vh;
}

.research_experience {
  min-height: 100vh;
}

.scrolldown-right {
  color: #fff;
  position: absolute;
  right: -20px;
  bottom: 3rem;
  transform: rotate(90deg);
  font-size: 14px;
}

.scrolldown-right span {
  display: flex;
  animation: scroll 0.5s linear infinite alternate-reverse;
}

.ag-format-container {
  margin-top: 50px;
  width: 1142px;
}

.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 30px 0;
}

.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
}

.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #1a1919;

  overflow: hidden;

  position: relative;
}

.ag-courses-item_link_a {
  display: block;
  padding: 30px 20px;
  min-height: 225px;
  background-color: #1a1919;

  overflow: hidden;

  position: relative;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #000000;
}

.ag-courses-item_link_a:hover,
.ag-courses-item_link_a:hover .ag-courses-item_date {
  text-decoration: none;
  color: #000000;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}

.ag-courses-item_link_a:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}

.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #fff;

  z-index: 2;
  position: relative;
}

.ag-courses-item_date-box {
  font-size: 18px;
  color: #fff;

  z-index: 2;
  position: relative;
}

.ag-courses-item_date {
  font-weight: bold;
  color: #00ae9d;

  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.ag-courses-item_bg {
  height: 80px;
  width: 128px;
  background-color: #00ae9d;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }

  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }
}

@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }

  .ag-courses-item_link {
    padding: 22px 40px;
  }

  .ag-courses-item_date-box {
    font-size: 16px;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(-25px);
  }

  100% {
    transform: translateX(-10px);
  }
}

.sidenav .box ul li.hamburgerMenu {
  display: none;
}

@media screen and (max-width: 825px) {
  .HomePage {
    display: flex;
    flex-direction: column;
  }

  .HomePage {
    display: block;
  }

  .professionalPage .resume-button {
    top: 0;
    left: 0.5rem;
    margin-top: 0.5rem;
    right: auto;
  }

  .sidenav {
    float: right;
    /* padding: 1%; */
    width: 3rem;
    height: 3rem;
    min-height: 5vh;
    top: 0;
    right: 0;
    position: relative;
  }

  .sidenav .box ul li {
    display: none;
  }

  .sidenav .box ul li.hamburgerMenu {
    top: 0;
    right: 0;
    display: flex;
    padding-right: 2%;
    padding-top: 2%;
  }

  .sidenav.responsive {
    width: 100%;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    height: auto;
  }

  .sidenav.responsive .box ul li.hamburgerMenu {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0% 1% 1% 1%;
  }

  .sidenav.responsive .box1 {
    line-height: 250%;
  }

  .sidenav.responsive .box ul {
    position: relative;
    float: inherit;
  }

  .sidenav.responsive .box ul li {
    display: inline;
    float: inside;
  }

  .sidenav.responsive .box li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .sidenav.responsive .box2 .fancyfonts {
    display: flex;
    justify-content: center;
  }

  #professionalPage {
    left: 0;
  }

  .professionalPage {
    margin-left: 0;
  }
}

@media screen and (max-width: 552px) {
  h2 {
    font-size: 75px;
  }
}
