@font-face {
  font-family: "coolvetica";
  src: url("fonts/coolvetica-rg.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  list-style: none;
  text-decoration: none;
}

body {
  background: #1d1d1d;
  letter-spacing: 0.5px;
  font-family: "open Sans", sans-serif;
  text-size-adjust: 100%;
  height: 100vh;
}

.HomePage {
  display: flex;
  height: 100%;
}

/* .sidenav {
  background: #181818;
  min-height: 100%;
  width: 160px;
  position: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.sidePhoto {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-top: 15px;
}

.sidePhoto-font {
  width: 75px;
  padding-bottom: 10px;
}

.sidenav .box1 ul li a {
  border-bottom: 1.5px solid #232323;
  font-size: 17px;
}

.sidenav .box1 ul li a {
  padding: 15px;
  color: #888888;
  display: block;
  transition: 0.3s ease-in-out;
}

.box1 ul li a:hover {
  color: #0cf2cf;
  transition: 0.3s ease-in-out;
}

.box2 ul li {
  display: inline-flex;
  padding: 2rem 7px;
}

.box2 ul li a {
  color: #888888;
  transition: 0.3s ease-in-out;
}

.box2 ul li a:hover {
  color: #0cf2cf;
  transition: 0.3s ease-in-out;
} */

.InnerPage {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  margin-left: 160px;
  width: 100%;
}

.resume-button {
  border: 1px solid #08fdd8;
  background-color: transparent;
  color: #08fdd8;
  box-sizing: border-box;
  z-index: 1;
  font-size: 16px;
  padding: 8px 20px 8px 20px;
  position: absolute;
  right: 1rem;
  top: 1rem;
  margin-right: 0.6%;
  transition: color 0.1s;
}

.resume-button:before {
  content: "";
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #08fdd82b;
  transform: scaleX(0);
  transform-origin: 0;
  transition: transform 0.3s ease-out;
}

.resume-button:hover:before {
  transform: scaleX(1);
}

.home {
  align-items: center;
  padding: 175px 100px 200px 75px;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.TextArea {
  display: flex;
  flex-direction: row;
}

.TextArea h1 {
  display: inline-block;
  color: #fff;
  font-family: coolvetica, serif;
  letter-spacing: 3px;
  font-weight: 550;
  font-size: 103px;
  line-height: 1em;
  position: relative;
  margin-right: -4px;
}

.name span {
  box-sizing: border-box;
  display: inline-block;
  transition: 0.3s ease-in-out;
}

.TextArea h1 span:hover {
  color: #0cf2cf;
  transition: 0.3s ease-in-out;
}

.greyText {
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 0;
  color: #8d8d8d;
  letter-spacing: 2px;
  font-size: 20px;
  position: relative;
}

.scrolldown-right {
  color: #fff;
  position: absolute;
  right: -20px;
  bottom: 3rem;
  transform: rotate(90deg);
  font-size: 14px;
}

.scrolldown-right span {
  display: flex;
  animation: scroll 0.5s linear infinite alternate-reverse;
}

.profilePhoto {
  box-sizing: content-box;
  position: absolute;
  display: inline-block;
  margin-left: 20px;
  margin-right: 30px;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  border: solid;
  border-color: #08fdd8;
  border-width: 1.4px;
  outline: 2px solid #08fdd8;
  outline-offset: 8px;
  transform: translateY(70%);
}

.Text {
  width: 65%;
}

.profile {
  width: 35%;
}

@media only screen and (max-width: 600px) {
  .home {
    padding: 5em 2em 2em 2em;
  }

  .TextArea {
    flex-direction: column;
  }

  .TextArea h1 {
    font-size: 14vw;
  }

  .greyText {
    margin-top: 2em;
    font-size: 3.2vw;
  }

  .Text {
    width: 100%;
  }

  .profilePhoto {
    position: relative;
    width: 45vw;
    height: 45vw;
    margin: 0.5em 3em 1em 3em;
    transform: translateY(0%);
  }
  .profile {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

@media only screen and (max-width: 445px) {
  .home {
    padding: 4em 1.5em 0.5em 1.5em;
  }

  .TextArea h1 {
    font-size: 14vw;
  }

  .greyText {
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 4vw;
  }
  .Text {
    width: 100%;
  }

  .profilePhoto {
    position: relative;
    width: 50vw;
    height: 50vw;
    margin: 1em 3em 2em 3em;
    transform: translateY(0%);
  }
  .profile {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

@media only screen and (max-width: 825px) and (min-width: 600px) {
  .home {
    padding: 5em 1em 10em 3em;
  }

  .TextArea h1 {
    font-size: 8vw;
  }

  .greyText {
    margin-top: 2em;
    font-size: 2.5vw;
  }

  .profile img {
    width: 22vw;
    height: 22vw;
    transform: translateY(5em);
  }
}

@media only screen and (max-width: 1250px) and (min-width: 825px) {
  .home {
    padding: 10em 1em 8.5em 3em;
  }

  .TextArea h1 {
    font-size: 8vw;
  }

  .greyText {
    margin-top: 2em;
    font-size: 1.8vw;
  }

  .profile img {
    width: 20vw;
    height: 20vw;
    transform: translateY(10em);
  }
}

@media only screen and (max-width: 2000px) and (min-width: 1300px) {
  .home {
    padding: 10em 1em 8.5em 4em;
  }

  .TextArea h1 {
    font-size: 8vw;
    overflow-wrap: normal;
  }

  .greyText {
    margin-top: 2em;
    font-size: 2vw;
  }

  .profile img {
    width: 22vw;
    height: 22vw;
    transform: translateY(10em);
  }
}

/*---------Contact--------------*/

.page-out {
  align-items: center;
  padding: 30px 10px 10px 3%;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.contact-Info {
  margin-top: 1.5%;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.Contact_head h1 {
  color: #08fdd8;
  font-family: coolvetica, serif;
  letter-spacing: 3px;
  font-weight: 550;
  font-size: calc(70px + 6 * ((100vw - 320px) / 680));
  line-height: 1em;
  position: relative;
  margin-left: 16px;
}

.contact-des-div {
  width: 100%;
}

.contact-des {
  color: rgb(255, 255, 255);
  padding-left: 3%;
  margin-bottom: 2%;
  width: 80%;
}

.input__field_input__field--hoshi {
  display: inline-block;
  color: rgb(141, 141, 141);
  background-color: rgb(43, 43, 43);
  width: 40%;
  border-width: 0;
  box-sizing: border-box;
  position: relative;
  height: 50px;
  font-size: 16px;
  margin-left: 50px;
  margin-top: 10px;
  text-indent: 15px;
}

.contact-form .flat-button {
  border: 1px solid #08fdd8;
  background-color: transparent;
  color: #08fdd8;
  box-sizing: border-box;
  z-index: 3;
  font-size: 16px;
  padding: 8px 20px 8px 20px;
  position: relative;
  display: inline-block;
  margin-top: 2%;
  margin-left: 6%;
  transition: color 0.1s;
}

.input__field_input__field--hoshi-msg {
  display: inline-block;
  color: rgb(141, 141, 141);
  background-color: rgb(43, 43, 43);
  width: 80%;
  border-width: 0;
  font-family: "Arial";
  box-sizing: border-box;
  position: relative;
  height: 100px;
  font-size: 16px;
  margin-left: 6%;
  margin-top: 2%;
  margin-bottom: 1.5%;
  padding: 15px;
}

.contact-form .flat-button.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.flat-button:before {
  content: "";
  cursor: pointer;
  position: relative;
  top: 0;
  left: 0;
  right: 500px;
  bottom: 0;
  background: #08fdd82b;
  transform: scaleX(0);
  transform-origin: 0;
  transition: transform 0.3s ease-out;
}

#map {
  color: #08fdd8;
  background-color: #181818;
  width: 50%;
  position: relative;
  margin-right: 2%;
  height: 90%;
  outline: auto;
  top: 15%;
}

.map-container {
  position: relative;
  top: -440px;
  right: 195px;
  opacity: 83%;
}

.message-box .fake-h3 {
  text-align: center;
  font-size: 15px;
  color: rgb(255, 255, 255);
}

.message-box {
  position: absolute;
  background-color: #181818;
  top: 10px;
  right: 10px;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
  text-align: center;
}

#contact ul li input {
  width: 80%;
  margin-left: 6%;
  margin-top: 2%;
  margin-bottom: 0.3%;
}

#google-map {
  height: 100%;
  width: 50%;
}

@keyframes scroll {
  0% {
    transform: translateX(-25px);
  }

  100% {
    transform: translateX(-10px);
  }
}

.sidenav .box ul li.hamburgerMenu {
  display: none;
}

@media screen and (max-width: 1234px) {
  .contact-Info {
    width: 70%;
  }
}

@media screen and (max-width: 1075px) {
  .contact-Info {
    width: 90%;
  }
  #map {
    width: 0;
    display: none;
  }
}

@media screen and (max-width: 990px) {
  .contact-Info {
    width: 100%;
  }

  #contact ul li input {
    width: 75%;
  }

  .input__field_input__field--hoshi-msg {
    width: 75%;
  }
}

@media screen and (max-width: 825px) {
  .HomePage {
    display: flex;
    flex-direction: column;
  }

  .HomePage {
    display: block;
  }

  .InnerPage {
    margin-left: 0;
  }

  .InnerPage .resume-button {
    top: 0;
    left: 0.5rem;
    margin-top: 0.5rem;
    right: auto;
  }

  /* .sidenav {
    position: relative;
    float: right;
    width: 3rem;
    height: 3rem;
    min-height: 5vh;
    top: 0;
    right: 0;
  }

  .sidenav .box ul li {
    display: none;
  }

  .sidenav .box ul li.hamburgerMenu {
    top: 0;
    right: 0;
    display: flex;
    padding-right: 2%;
    padding-top: 2%;
  }

  .sidenav.responsive {
    width: 100%;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    height: auto;
  }

  .sidenav.responsive .box ul li.hamburgerMenu {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0% 1% 1% 1%;
  }

  .sidenav.responsive .box1 {
    line-height: 250%;
  }

  .sidenav.responsive .box ul {
    position: relative;
    float: inherit;
  }

  .sidenav.responsive .box ul li {
    display: inline;
    float: inside;
  }

  .sidenav.responsive .box li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .sidenav.responsive .box2 .fancyfonts {
    display: flex;
    justify-content: center;
  } */
}

@media screen and (max-width: 552px) {
  h2 {
    font-size: 75px;
  }
} 